@mixin titulos($ancho, $color, $bg, $borde){
    width: $ancho;
    color: $color;
    background-color: $bg;
    border: $borde;
    margin: 0 auto;
    text-align: center;
}
.tituloUno{
    @include titulos(70%, $colorDos, $colorCuatro, 3px $colorUno);
    font-family: "Gloock", serif;
    font-style: normal;
    font-size: x-large;
}
.tituloDos{
    @include titulos(60%, $colorCinco, $colorDos, 5px $colorDos);
    font-family: "Gloock", serif;
    font-size: x-large;
}
#carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.carousel-inner{
    width: 60vw;
    height: 70vh;
}
